<div class="nav-bar">

    <h1>THE Blog</h1>
    <ul class="nav">
        <li><a href="/">Home</a></li>
        <li><a href="#">Authors</a></li>
        <li><a href="#">Tags</a></li>
<!--         <li><a href="#">Register</a></li>
        <li><a href="#">Login</a></li>
        <li><a href="#">Logout</a></li> -->
    </ul>
    
    <form class='nav-bar-search' name='nav-bar-search' action='/search' method='post'>
      <input type='text' placeholder='search' name='search_query'></input>
    </form>

    <div class='user_state'>
      <form class='login' name='login_form' action='/login' method='post'>
        <input type='text' name='username'></input>
        <input type='password' name='password'></input>
      </form>
    </div>

</div>
