
<div class='container'>

  <h1>Register</h1>

  <form class='login' name='login' action='/user_create' method='post'>
    <input type='text' name='first_name' placeholder='First Name'></input>
    <input type='text' name='last_name' placeholder='Last Name'></input>
    <input type='email' name='email' placeholder='Email'></input>
    <input type='text' name='user_name' placeholder='Username'></input>
    <input type='password' name='password' placeholder='Password'></input>
    <p><input type='submit' name='Submit'></input></p>
  </form>

</div>
