
<div class='container'>

  <h1>Login</h1>

  <form class='login' name='login' action='/login' method='post'>
    <input type='text' name='user_name' placeholder='Username'></input>
    <input type='password' name='password' placeholder='Password'></input>
    <p><input type='submit' name='Submit'></input></p>
  </form>

</div>
